* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: lightsalmon;
}

.container-img-nav {
  background-color: aqua;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-container ul {
  display: flex;
}

.nav-container li {
  padding: 20px;
  list-style: none;
}

.nav-container li a {
  text-decoration: none;
  color: black;
}

.nav-container li:hover {
  background-color: rgb(20, 124, 184);
}

.nav-logo {
  margin: 20px;
}

.container-about {
  text-align: center;
  min-height: 50vh;
}

.headline {
  margin-top: 150px;
}

.subline {
  margin-top: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  text-align: justify;
}

.container-gallery {
  background-color: rgb(197, 231, 103);
  margin: 0px 100px;
}

.container-gallery li {
  display: inline-block;
}
