* {
  padding: 0px;
  margin: 0px;
}

html {
  font-family: "Red Hat Text", sans-serif;
}

body {
  background-color: lightsalmon;
}

.container-img-nav {
  background-color: rgba(0, 0, 0, 35%);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  /*position: fixed;
  top: 0;
  width: 100%;*/
}

.nav-container ul {
  display: flex;
  padding-right: 40px;
}

.nav-container li {
  padding: 25px;
  list-style: none;
}

.nav-container li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
}

.nav-container li:hover {
  background-color: rgba(0, 0, 0, 80%);
}

.nav-logo {
  margin: 20px;
  color: white;
}

.bg-video {
  object-fit: cover;
  width: 100%;
  position: absolute;
  margin-top: -200px;
  height: 230vh;
}

.container-about {
  text-align: center;
  /*min-height: 50vh;*/
  position: relative;
}

.headline {
  margin-top: 200px;
  margin-left: 80px;
  margin-right: 80px;
  color: white;
  font-size: 24px;
}

.subline {
  margin: 100px 80px 100px 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3rem;
  text-align: justify;
  color: white;
  font-size: 20px;
}

.container-gallery {
  min-height: 50vh;
  background-color: rgba(0, 0, 0, 35%);
  position: relative;
}

.container-gallery #gallery {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  margin: 0px 80px 150px 80px;
  padding: 140px 0px 140px 0px;
}

#gallery img {
  width: 100%;
  height: auto;
  object-fit: fill;
}

@media only screen and (max-width: 1630px) {
  .container-gallery #gallery {
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 827px) {
  .container-gallery #gallery {
    grid-template-columns: auto;
  }

  .subline {
    grid-template-columns: 1fr;
  }

  .bg-video {
    position: fixed;
  }
}

.container-donate {
  background-color: #3e5f31;
  min-height: 50vh;
  position: relative;
}

.headline-donate {
  padding-top: 200px;
  text-align: center;
  vertical-align: middle;
  margin-left: 80px;
  margin-right: 80px;
  color: white;
}

.headline-donate .quote {
  font-size: 12px;
  margin-left: 10px;
}

.container-donate p {
  padding-top: 20px;
  text-align: center;
  margin-left: 80px;
  margin-right: 80px;
  color: white;
  font-size: 20px;
}

.donate-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.donate-button button {
  color: white;
  font-size: 18px;
  padding: 20px 50px;
  border-radius: 5%;
  border: none;
  background-color: #6aa353;
  cursor: pointer;
  border: 1px solid;
}

.donate-button button:hover {
  background-color: rgba(106, 163, 83, 80%);
}

footer {
  height: 5vh;
  position: relative;
  background-color: #3e5f31;
}
